# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.tox/
.pytest_cache/
.mypy_cache/
.coverage*

# Quarto documentation
/.quarto/
docs/.quarto
/docs
documentation/api
objects.json

# pyenv
.python-version
