# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.tox/
.pytest_cache/
.mypy_cache/
.coverage

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# Example output
examples/output/*
